/*content*/
body {
	background: url(../img/cross_scratches.jpg) repeat 0 0 scroll #efefef;
	min-width: 240px;
	width: 100%;
}
#mobile_menu,
#mobile_footer {
	display: none;
}
.mobile #mobile_menu,
.mobile #mobile_footer {
	display: block;
}
.mobile #footer_mobile_hidden,
.mobile #top_nav {
	display: none;
}
.clr:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.container {
	margin: 3.333em auto 1.667em; /*40 auto 20*/
	max-width: 1100px; 
	min-width: 240px;
	width: 90%;
}
.grid_wrap {
	background: #FFF;
	border: 1px solid lightgray;
}
.grid_wrap:before,
.grid_wrap:after {
	content: ""; 
	display: table;
}
.grid_wrap:after {
	clear:both;
}
.grid {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	float: left;
  padding-left: 1.667em; /*20*/
  width: 100%;
}
.col_full {
	padding: 1.667em; /*20*/
	width: 100%;
}
.col_one_half {
	padding: 1.667em; /*20*/
	width: 50%;
}
.col_one_third {
	background: #f7f7f7;
	border-left: 1px solid lightgray;
	float: right;
	padding: 1.667em; /*20*/
	width: 33.333%;
}
#homepage .col_one_third {
	padding-top: 1.1em; /*13*/
}
.col_two_thirds {
	padding: 1.667em; /*20*/
	width: 66%;
}
#homepage .col_two_thirds {
	padding-top: 0;
}

/* typography */
h1 {
	color: #353e5b;
	font-size: 2em; /*24*/
	font-weight: normal;
	margin-bottom: .5em; /*12*/
}
#homepage h1 {
	background: #353e5b;
	border-bottom: 3px double #FFF;
	box-shadow: inset 0 12px 15px 0 #2f374f;
	color: #FFF;
	font-weight: 700;
	margin-bottom: 0;
	padding: .292em .833em .458em; /*7 20 11*/
}
h2 {
	color: #353e5b;
	font-size: 1.75em; /*21*/
	margin-bottom: .75em; /*15*/
}
article h2:after,
#contact_page h2:after {
	background: #DDD;
	content: "";
	display: block;
	height: 1px;
	margin: .75em 0; /*15*/
	width: 1em; /*21*/
}
h3 {
	color: #353e5b;
	font-size: 1.65em; /*19*/
	margin-top: 1.25em; /*23*/
}
#homepage h3 {
	margin: 0 0 .632em; /*0 0 12*/
}
#homepage .home_key_points {
	margin-bottom: 2.5em; /*30*/
}
#homepage .home_key_points li {
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
	background: #fcfcfc;
	background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
	background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f6f6f6',GradientType=0 );
	box-shadow: 0 0 3px 1px darkgray;
	margin-bottom: 1.667em; /*20*/
	overflow: hidden;
	position: relative;
}
#homepage .home_key_points li:hover {
	background: #FFF;
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
#homepage .home_key_points .icon_outer {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: #c3961b;
	background: rgba(195,150,27,.5);
	border: 2px solid #f7f7f7;
	height: 74px;
	left: -30px;
	position: absolute;
	top: -10px;
	width: 74px;
}
#homepage .icon_outer [class^="icon-"]:before {
	color: #FFF;
	font-size: 2.083em; /*25*/
	left: 29px;
	line-height: 0;
	opacity: 1;
	position: relative;
	bottom: -22px;
	bottom: -31px\9;
}
@-moz-document url-prefix() { 
  #homepage .icon_outer [class^="icon-"]:before {
		bottom: -29px;
  }
}
#homepage .home_key_points a {
	display: block;
	padding: .417em .833em .583em 2.5em; /*5 10 7 30*/
	padding-left: 1.25em\9; /*15*/
	position: relative;
}
#homepage .home_key_points p {
	margin: 0;
	padding: 0;
}
#homepage .home_key_points .info {
	font-size: 1em; /*12*/
}
#homepage .home_key_points p:first-child {
	font-family: 'buenard',georgia,serif;
	font-size: 1.667em; /*20*/
	font-style: italic;
	font-weight: 700;
	line-height: 1.25em; /*25*/
}

/*homepage banner image*/
#homepage #boston_pano {
	position: absolute;
	top: 125px;
	width: 100%;
	z-index: 0;
}
#homepage #boston_pano img {
	box-shadow: 0 4px 7px 0 darkgray;
	display: block;
	height: auto !important;
	width: 100%;
}
#boston_pano hr {
	border-top: 17px solid rgba(214,214,214,.4);
}
#homepage #home_top {
	background: #FFF;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.82) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.85)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.82) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0.82) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.82) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0.82) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9ffffff', endColorstr='#ffffff',GradientType=0 );
	margin-top: 240px;
}
#homepage .col_full {
	padding: 0;
}

/* header */
#chromeframe {
	background: #353e5b;
	color: #FFF;
	font-weight: normal;
	margin: 0;
	padding: 10px;
	text-align: center;
}
#chromeframe a {
	color: #FFF;
	font-weight: bold;
	text-decoration: underline;
}
#logo {
	background: url(/img/MCyzeski_logo_300.png) no-repeat;
	display: block;
	float: left;
	height: 42px;
	width: 300px;
	margin-top: 7px;
}
#claim {
	float: right;
	text-align: right;
	position: relative;
	top: 8px;
}
#claim a {
	font-size: 1.167em; /*14*/
	line-height: 20px;
	margin: 0;
}
#claim a:first-child {
	display: block;
	font-weight: bold;
}
#claim *[class^="icon"]:before {
	color: #c3961b;
	font-size: 15px;
}
#claim .icon-phone {
	color: #353d5b;
	font-size: 1.167em; /*14*/
	font-weight: 400;
	margin-top: 0;
}
#claim .icon-phone a {
	display: inline;
	font-size: 1em; /*12*/
	font-weight: normal;
	margin-left: .417em; /*5*/
}
#specializing {
	border-left: 1px solid lightgray;
	float: left;
	font-size: 1.167em; /*14*/
	line-height: 20px;
	margin: 0 0 0 .929em; /*0 0 0 13*/
	position: relative;
	padding: .357em 0 .357em .786em; /*5 0 5 11*/
	top: 4px;
	width: 160px;
}
#logo_contact {
	background: #fafafa;
	border-bottom: 1px solid lightgray;
	border-top: 2px solid #353e5b;
	box-shadow: inset 0 2px 7px rgba(0, 0, 0, .3);
	padding: 1em 0 1.333em; /*12 0 16*/
}
#logo_contact #logo_contact_inner {
	margin: 0 auto; 
	max-width: 1100px; 
	min-width: 240px;
	position: relative;
	width: 90%;
}
#contact {
	color: #666A74;
	margin-top: 1em; /*12*/
	text-transform: uppercase;
}
#contact span {
	display: block;
}
#header_top #top_nav {
	background: #353e5b;
	border-top: 3px double #fff;
	border-bottom: 3px double #fff;
	box-shadow: 0 1px 5px 0 darkgray;
	height: 42px;
	position: relative;
	width: 100%;
	z-index: 20;
}
#header_top #sub_nav_parent {
	margin: 0 auto;
	max-width: 1100px;
	text-align: center;
}
#sub_nav_parent li {
	display: inline-block;
	position: relative;
}
#sub_nav_parent a {
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-family: 'buenard', georgia, serif;
	font-size: 1.083em; /*13*/
	line-height: 21px;
	margin: 0 -2px; /*keep in px*/
	padding: .769em 1.769em .846em; /*10 23 11*/
	position: relative;
	text-shadow: 1px 1px 0 #000;
	text-transform: uppercase;
}
#sub_nav_parent .navactive,
#sub_nav_parent .sub_hover,
#sub_nav_parent a:hover,
#sub_nav_parent a:active {
	background: #49567c;
	border-left: 1px solid rgba(255,255,255,.2);
	border-right: 1px solid rgba(255,255,255,.2);
}
#sub_nav_parent a:active {
	background: #515F89;
}
#sub_nav_parent .top_level:hover {
	cursor: default;
}
#sub_nav_parent .icon-down-open-big {
	bottom: 11px;
	font-size: .5em; /*7*/
	position: absolute;
	right: 5px;
}
#sub_nav_parent a:hover .icon-down-open-big:before {
	opacity: 1;
}
#header_top .sub_nav_1 {
	background: #353e5b;
	box-shadow: 0 1px 5px 0 darkgray;
	display: none;
	left: -1px;
	position: absolute;
	text-align: left;
	top: 45px;
	width: 252px;
	z-index: 10;
}
#sub_nav_parent .sub_nav_1 li {
	display: block;
	position: relative;
}
#sub_nav_parent .sub_nav_1 a,
#sub_nav_parent .sub_nav_2 a {
	border: none;
	color: #FFF;
	display: block;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 1.167em; /*14*/
	font-weight: 200;
	margin: 0 !important;
	text-transform: none;
	line-height: 1.357em; /*19*/
	padding: .643em 2em; /*9 28*/
	text-shadow: none;
}
#sub_nav_parent .sub_nav_1 a {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
}
#sub_nav_parent .sub_nav_1 li:hover a,
#sub_nav_parent .sub_nav_1 a:hover {
	border-bottom: 1px solid rgba(255,255,255,.2);
	border-top: 1px solid rgba(255,255,255,.2);
}
#sub_nav_parent .sub_nav_2 {
	background: #49567c;
	border: 1px solid rgba(255,255,255,.2);
	border-left: none;
	display: none;
	left: 100%;
	position: absolute;
	text-align: left;
	top: 0;
	width: 400px;
	z-index: 10;
}
#sub_nav_parent .sub_nav_2 li {
	display: block;
}
#sub_nav_parent .sub_nav_2 a {
	border: none !important;
}
#sub_nav_parent .sub_nav_2 a:hover {
	background: #556491;
}
.top_level .icon-right-open-big,
.sub_hover .icon-down-open-big,
.sub_nav_1 .icon-down-open-big {
	display: none;
}

/* general */
#breadcrumbs {
	margin: 0 auto 10px 1px;
	max-width: 1100px;
}
#breadcrumbs li,
#breadcrumbs a,
#breadcrumbs h1 {
	color: #666A74;
	display: inline-block;
	font-family: 'helvetica neue',helvetica,arial,sans-serif;
	font-size: 1em; /*12*/
}
#breadcrumbs a {
	color: #353d5b;
}
#breadcrumbs .breadcrumb_slash {
	margin: 0 1em; /*0 12*/
}
.container > section {
	margin: 0 auto 3.333em; /*0 auto 40*/
	max-width: 1100px;
	position: relative;
}
h3 + .content_list {
	margin-top: 1.25em; /*15*/
}
#homepage .content_list {
	margin-bottom: 2.5em; /*30*/
}
.content_list li {
	font-size: 15px;
	list-style: square;
	margin: 0 0 .833em 2.5em; /*0 0 10 30*/
}
.content_list + p {
	margin-top: 1em; /*15*/
}
.grid .excerpt {
	background: #f7f7f7;
	border-top: 3px double lightgray;
	border-bottom: 3px double lightgray;
	color: #222;
	float: left;
	font-family: 'buenard', georgia, serif;
	line-height: 1.6em; /*24*/
	margin: .733em 1.333em 0 0; /*11 20 0 0*/
	padding: .467em 2% .667em; /*7 2% 10*/
	width: 40%;
}
p .icon-right:before {
	color: #c3961b;
	margin-right: 2px;
}
#contact_page address {
	font-size: 1.25em; /*15*/
	font-style: italic;
}
#contact_page .col_one_half p {
	margin: 0 0 .667em; /*0 0 10*/
}
#contact_page #google_map {
	border: 1px solid lightgray;
	height: 0;
	margin-top: 1.667em; /*20*/
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 2.5em; /*30*/
	position: relative;
}
#google_map iframe,   
#google_map object,  
#google_map embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#contact_link a {
	font-weight: bold;
}

/*forms*/
#contact_form {
	margin-top: 2em; /*24*/
}
#homepage #contact_form {
	margin-top: 1em; /*12*/
}
#contact_form fieldset {
	margin-bottom: 2em; /*24*/
	position: relative;
}
#contact_form label {
	color: #717780;
	display: block; 
	margin-bottom: .5em; /*6*/
	font-weight: 700;
}
#contact_form input,
#contact_form textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #DDD;
	border-radius: 0;
	color: #777;
	font-size: 1.25em; /*15*/
	padding: .833em 1em; /*12 15*/
	width: 100%;
}
#contact_form textarea {
	height: auto;
	min-height: 15em; /*225*/
	padding: 1em; /*15*/
	width: 100%;
}
#contact_form input, 
#contact_form textarea {
 -moz-transition: border .25s;
 -webkit-transition: border .25s;
 -o-transition: border .25s;
 transition: border .25s;
}
#contact_form input:hover, 
#contact_form textarea:hover, 
#contact_form input:focus, 
#contact_form textarea:focus,
#contact_form input:active, 
#contact_form textarea:active {
	border: 1px solid #999;
}
#contact_form input[type="text"],
#contact_form textarea {
	cursor: text;
}

/* placeholders */
::-webkit-input-placeholder {
	color: #BBB;
}
:-moz-placeholder {
	color: #BBB;
}
:-ms-input-placeholder {
	color: #BBB;
}

/* validate.js */
#contact_form label.error { 
	bottom: -27px;
	color: #A61B16;
	font-style: italic;
	font-weight: normal;
	left: 0;
	position: absolute;
}

/* buttons */
#contact_form .button, 
#contact_form input[type="submit"], 
#contact_form button {
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all; 
	background: #C3961B;
	background-image: -moz-linear-gradient(top, #D0A01D, #C3961B);
	background-image: -ms-linear-gradient(top, #D0A01D, #C3961B);
	background-image: -o-linear-gradient(top, #D0A01D, #C3961B);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#D0A01D), to(#C3961B));
	background-image: -webkit-linear-gradient(top, #D0A01D, #C3961B);
	background-image: linear-gradient(top, #D0A01D, #C3961B);
	border: solid 1px darkgray;
	border-radius: 0;
	box-shadow: 0 0 3px 0 #CCC;
	color: #FFF;
	cursor: pointer;
	display: block;
	font-size: 1.5em; /*18*/
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 1.111em; /*20*/
	padding: .5em 0 .611em; /*9 0 11*/
	text-align: center;
	text-decoration: none;
	width: 100%;
}
#contact_form .button:hover, 
#contact_form input[type="submit"]:hover, 
#contact_form button:hover,
#contact_form .button:active, 
#contact_form input[type="submit"]:active, 
#contact_form button:active {
	background: #C3961B;
	background-image: -moz-linear-gradient(top, #E1AD20, #D4A31E);
	background-image: -ms-linear-gradient(top, #E1AD20, #D4A31E);
	background-image: -o-linear-gradient(top, #E1AD20, #D4A31E);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#E1AD20), to(#D4A31E));
	background-image: -webkit-linear-gradient(top, #E1AD20, #D4A31E);
	background-image: linear-gradient(top, #E1AD20, #D4A31E);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	color: #FFF;
	width: 100%;
}
#contact_form .button:active, 
#contact_form input[type="submit"]:active, 
#contact_form button:active {
	position: relative;
	top: 1px;
}

/*footer*/
#footer_outer {
	background: url(../img/top_nav_bg_3.jpg) repeat #353e5b;
	border-top: 3px double #FFF;
	box-shadow: 0 -1px 5px 0 darkgray;
	margin: 5em auto 0; /*60 auto 0*/
	position: relative;
}
#footer_outer footer  {
	color: #666A74;
	margin: 0 auto;
	max-width: 1100px;
	min-width: 240px;
	padding: 2em; /*24*/
	position: relative;
	width: 90%;
}
#footer_outer ul {
	text-align: center;
}
#footer_outer li {
	color: #FFF;
	display: inline-block;
}
#footer_outer .slash {
	margin: 0 .25em; /*0 3*/
}
#footer_outer a {
	background: none;
	color: #FFF;
	font-size: 1em;
}
#footer_outer li:first-child {
	margin-left: 0;
}
#footer_outer li:last-child {
	margin-right: 0;
}
#footer_links {
	padding: 1.667em 0 1em; /*20 0 12*/
}
#footer_links li a {
	font-weight: 200;
}
#footer_outer a:hover,
#footer_outer a:active {
	text-decoration: underline;
}
#footer_outer p {
	color: #FFF;
	font-size: 1em; /*12*/
	text-align: center;
}
#footer_callback {
	background: darkgray;
	background: rgba(204,204,204,.1);
	margin: 0;
	padding: .833em 0; /*10 0*/
}
#footer_callback span {
	margin: 0 .667em; /*0 8*/
}

/*mobile stuff triggered by useragent, not media query*/
.mobile .hide_mobile {
	display: none;
}
.mobile .show_mobile {
	display: block;
}
.mobile h1 {
	font-size: 1.75em; /*21*/
}
.mobile h2 {
	font-size: 1.6em; /*19*/
}
.mobile h3 {
	font-size: 1.5em; /*18*/
}
#homepage.mobile #boston_pano {
	top: 189px;
}
#homepage.mobile #home_top {
	background: #FFF;
	margin-top: 6.5em; /*78*/
}
.mobile #logo_contact {
	padding-bottom: 0;
}
.mobile #logo_contact #logo_contact_inner {
	width: 100%;
}
.mobile #header_top #top_nav {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	height: auto;
}
.mobile #header_top #sub_nav_parent {
	background: #353e5b;
}
.mobile #logo {
	float: none;
	margin: .5em auto 0; /*6 auto 0*/
	text-align: center;
}
.mobile #claim a:first-child {
	margin-bottom: .357em; /*5*/
}
.mobile #header_top #mobile_menu {
	cursor: pointer;
	display: block;
	float: left;
	margin: 2.333em 0 0 .833em; /*28 0 0 10*/
}
.mobile #header_top #mobile_menu:before {
	background: #353e5b;
	box-shadow: 0 0 3px 0 #222;
	color: #FFF;
	font-size: 2.833em; /*34*/
	opacity: 1;
	padding: 0 .059em .029em; /*0 2 1*/
	position: relative;
}
.mobile #mobile_footer {
	display: block;
	margin-top: 2.5em; /*30*/
	text-align: center;
}
.mobile #mobile_footer a {
	display: inline-block;
}
.mobile #mobile_footer [class^="icon"]:before {
	background: #FFF;
	box-shadow: 0 0 3px 0 lightgray;
	color: #353e5b;
	font-size: 2.333em; /*28*/
	height: 34px; 
	opacity: 1;
	padding: .214em .071em .036em; /*6 2 1*/
	position: relative;
	text-align: center;
	width: 40px;
}
.mobile #header_top #mobile_menu.disabled:before,
.mobile #mobile_footer .disabled[class^="icon"]:before {
	background: lightgray;
	box-shadow: 0 0 3px 0 lightgray;
	color: #FFF;
}
.mobile #mobile_footer a:hover {
	text-decoration: none;
}
.mobile #sub_nav_parent li,
.mobile #sub_nav_parent a {
	display: block;
	margin: 0;
}
.mobile #sub_nav_parent a {
	border: none;
	border-bottom: 1px solid rgba(255,255,255,.2);
	border-top: 1px solid transparent;
	font-size: 1.25em; /*15*/
	padding: .8em 1.333em .867em; /*12 20 13*/
	text-align: left;
	text-shadow: none;
}
.mobile #sub_nav_parent .sub_hover,
.mobile #sub_nav_parent a:hover,
.mobile #sub_nav_parent a:active,
.mobile #sub_nav_parent .navactive {
	background: none;
}
.mobile #sub_nav_parent .navactive {
	background: #49567c;
}
.mobile #sub_nav_parent .top_level.open,
.mobile #sub_nav_parent .navactive.open {
	background: #556491;
}
.mobile #sub_nav_parent .icon-right-open-big,
.mobile #sub_nav_parent .icon-down-open-big {
	bottom: 14px;
	font-size: .5em; /*8*/
	position: absolute;
	right: 20px;
}
.mobile #sub_nav_parent .icon-right-open-big {
	display: block;
}
.mobile #sub_nav_parent .open .icon-right-open-big {
	display: none;
}
.mobile #sub_nav_parent .icon-down-open-big {
	display: none;
}
.mobile #sub_nav_parent .open .icon-down-open-big {
	display: block;
}
.mobile #sub_nav_parent .sub_nav_1,
.mobile #sub_nav_parent .sub_nav_2 {
	background: #556491;
	border: none;
	box-shadow: none;
	left: 0;
	position: relative;
	text-align: center;
	top: 0;
	width: 100%;
}
.mobile #sub_nav_parent .sub_nav_1 a, 
.mobile #sub_nav_parent .sub_nav_2 a {
	border: none;
	border-bottom: 1px solid rgba(255,255,255,.2) !important;
	border-top: 1px solid transparent !important;
	font-size: 1.25em; /*15*/
	line-height: 1.333em; /*20*/
	padding: .867em 1.333em 1em; /*13 20 15*/
	text-transform: none;
}
.mobile #specializing {
	border-left: none;
	float: none;
	margin: 0 auto;
	padding: .571em 0 .357em; /*8 0 5*/
	text-align: center;
	width: 100%;
}
.mobile #claim {
	float: right;
	margin: 1em 1.25em 2em 0; /*12 15 24 0*/
}
.mobile .home_key_points .info {
	font-size: 1.083em; /*13*/
}
.mobile #breadcrumbs {
	display: none;
}
.mobile .content_list li {
	margin-left: 1.667em; /*20*/
}
.mobile #footer_outer {
	border-top: 1px solid #FFF;
}
.mobile #footer_outer footer {
	padding: 0;
	width: 100%;
}
.mobile #footer_main_links {
	border-top: 1px solid #FFF;
	margin: 2.5em 0 1.667em; /*30 0 20*/
	text-align: left;
}
.mobile #footer_outer p,
.mobile #footer_links {
	padding: 1.5em 1.5em 1em; /*18 18 12*/
}
.mobile #footer_main_links li {
	background: #353e5b;
	display: block;
	margin: 0;
}
.mobile #footer_main_links a {
	border-bottom: 1px solid lightgray;
	display: block;
	font-size: 1.167em; /*14*/
	font-weight: 200;
	padding: 1.071em 1.429em; /*15 20*/
}
.mobile #footer_main_links a:hover,
.mobile #footer_main_links a:active {
	text-decoration: none;
}
.mobile #footer_main_links .slash {
	display: none;
}
.mobile #footer_links li {
	display: inline;
}
.mobile #footer_callback {
	margin-top: 2.5em; /*30*/
}
.mobile #footer_callback span {
	display: block;
	padding: .4em 0; /*4 0*/
}

/*media queries*/
@media only screen and (max-width: 1023px) {
	#homepage .home_key_points .icon_outer {
		border-radius: 0;
		height: 100%;
		left: -69px;
		top: -2px;
	}
	#homepage .home_key_points .icon_inner {
		display: none;
	}
}
@media only screen and (max-width: 925px) {
	#sub_nav_parent a {
		font-size: .917em; /*11*/
		padding: 1em 1.818em .909em; /*11 20 10*/
	}
}
@media only screen and (max-width: 780px) {
	.mobile .container {
		margin-top: 1.667em; /*20*/
	}
	.mq2-col-full {
		float: none;
		margin: 0 auto;
		width: 100%;
	}
	.mq2-col_one_third {
		border-left: none;
		border-top: 1px solid lightgray;
		width: 100%;
	}
	.mq2-col_two_thirds {
		width: 100%;
	}
	#homepage .home_key_points a {
		padding: .417em .833em .667em .833em; /*5 10 8 10*/
	}
	#homepage .home_key_points .icon_outer {
		left: -72px;
	}
	#homepage .home_key_points p:first-child {
		font-size: 1.417em; /*17*/
	}
}

@media only screen and (max-width: 380px) { 
	#homepage.mobile .col_one_half {
		height: auto;
	}
	.mobile #constant_contact.col_one_third {
		margin-top: 2em; /*24*/
	}
	.mobile .grid .excerpt {
		margin-bottom: .667em; /*10*/ 
		padding: .467em 4% .667em; /*7 4% 10*/
		width: 92%;
	}
	#homepage .home_key_points .info {
		font-size: .917em; /*11*/
	}
}

@media only screen
  and (min--moz-device-pixel-ratio: 1.3),
	(-o-min-device-pixel-ratio: 13/10),
	(-webkit-min-device-pixel-ratio: 1.3),
	(min-device-pixel-ratio: 1.3),
	(min-resolution: 130dpi),
	(min-resolution: 1.3dppx) {
	#logo {
		background-image: url(../img/MCyzeski_logo_300_retina.png);
		background-size: 100% auto;
	}
}

@media only screen and (max-width: 310px) {
	.mobile #logo {
		background: url(../img/MCyzeski_logo_200_retina.png) no-repeat;
		height: 28px;
		width: 200px;
	}
	.mobile #specializing {
		font-size: .786em; /*11*/
	}
	.mobile #claim a,
	.mobile #claim .icon-phone {
		font-size: 1em; /*12*/
	}
	.mobile #mobile_footer [class^="icon"]:before {
		font-size: 1.667em; /*20*/
    height: 24px;
    width: 30px;
	}
}
